@model MakeAttendanceTimeVM
@{
    ViewData["Title"] = "Make Attendance Time";
}

<h1>Make Attendance Time</h1>

<form asp-action="MakeAttendanceTime" asp-controller="Account" 
      method="post" >

    <div asp-validation-summary="All"></div>

    <div class="form-group" hidden>
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" type="number" data-val="true" value="@Model.Id" placeholder="Enter Own Id" />
    </div><div class="form-group" hidden>
        <label asp-for="AccId"></label>
        <input asp-for="AccId" class="form-control" type="text" data-val="true" value="@Model.AccId" placeholder="Enter Own Id" />
    </div>
    <div class="form-group">
        <label asp-for="Day"></label>
        <select class="form-control" asp-for="Day" >
            @foreach (var item in @Html.GetEnumSelectList<DayOfWeek>())
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DateTime"></label>
        <input asp-for="DateTime" class="form-control" type="date" data-val="true" 
        data-val-required="The Date Filed is required" value="YYYY-MM-DD" />
    </div> 
    <div class="form-group">
        <label asp-for="CertainOfStartTime"></label>
        <input asp-for="CertainOfStartTime" class="form-control" type="time" value="HH:MM:SS" />
    </div>
    <div class="form-group">
        <label asp-for="CertainOfEndTime"></label>
        <input asp-for="CertainOfEndTime" class="form-control" type="time" value="HH:MM:SS"/>
    </div>

    <input type="submit" value="Assign" class="btn btn-primary" />
</form>

